

@{
    ViewBag.Title = "Home";
}


@* TODO Update Text, and Images  *@


<body class="goto-here">
    <section id="home-section" class="hero">

        <div class="hero-wrap hero-bread" style="background-color: rgb(237,132,50);">
            <div class="container">
                <div class="col-md-12 ftco-animate text-center">
                    <h1 class="mb-2">We have only the "best" products made for the Sega Dreamcast!</h1>
                    <h2 class="subheading mb-4">If we don't have it, @Html.ActionLink("Contact Us", "Contact", "Home") and we'll try to find it.</h2>
                </div>
            </div>
        </div>


    </section>
    @* TODO direct the href to those specific categories once they've been made. (For Controllers, Arcade Sticks, etc...)  *@



    <section class="ftco-section ftco-category ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 order-md-last align-items-stretch d-flex">
                            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex">
                                <div class="text text-center">
                                    <img src="~/Content/images/Dreamcastlogo.png" style="width:250px; height: 300px; margin-top: 6.5em; ">
                                    <h2>Wares</h2>
                                    <p>Come inside and see what we've got.</p>
                                    <p><a href="@Url.Action("Shop", "Home")" class="btn btn-primary">Shop now</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0 text-center">
                                        <a href="#">
                                            <img src="~/Content/images/DC_Controller.png" style="height:200px;" />
                                            <br />Controllers
                                        </a>
                                    </h2>
                                </div>
                            </div>

                            <div class="category-wrap ftco-animate img d-flex align-items-end">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0 text-center">
                                        <a href="#">
                                            <img src="~/Content/images/SuperConverter.jpg" style="height:200px;" />
                                            <br />Adapters
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0 text-center">
                                <a href="#">
                                    <img src="~/Content/images/Dreameye.png" style="height:200px;" />
                                    <br />Accessories/Memory Cards
                                </a>
                            </h2>
                        </div>
                    </div>

                    <div class="category-wrap ftco-animate img d-flex align-items-end">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0 text-center">
                                <a href="#">
                                    <img src="~/Content/images/DC_ArcadeStick.jpg" style="height:200px;" />
                                    <br />Arcade Sticks
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-3 pb-3">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <span class="subheading">Featured Products</span>
                        <h2 class="mb-4">Our Products</h2>
                        <p>Welcome, and take  look around, we have all your Dreamcast needs.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 1 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/DC_Controller.png" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 1 })">Dreamcast Controller</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$29.99</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 12 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/FishingController.jpg" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 12 })">Fishing Controller</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$25.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 24 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/StarFire_LightBlaster.jpg" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 24 })">StarFire LightBlaster</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$29.99</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 2 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/VMU.png" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 2 })">Visual Memory Unit</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$19.99</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 27 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/RumblePack.jpg" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 27 })">Jump Pack</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$0.99</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 9 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/DCTwinStick.png" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 9 })">Twin Stick</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$100</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 11 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/Wingman.png" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 11 })">Wingman Converter</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$22.99</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="@Url.Action("Details", "Products", new { id = 14 })" class="img-prod">
                                <img class="img-fluid" src="~/Content/images/V3FX-SW2.png" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="@Url.Action("Details", "Products", new { id = 14 })">V3FX Racing Wheel</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$50.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    

    <section class="ftco-section img" style="background-image: url(~/Content/images/Internet_Starter_Kit.jpg);">
        <div class="container">
            <div class="row justify-content-end">
                <img src="~/Content/images/Internet_Starter_Kit.jpg" style=" width: 250px; height: 350px" />
                <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
                    <span class="subheading">Best Price For You</span>
                    <h2 class="mb-4">Deal of the day</h2>
                    <p>Please we have so many just order them!!!</p>
                    <h3><a href="@Url.Action("Details", "Products", new { id = 22 })">Internet Starter Kit</a></h3>
                    <span class="price"><a href="#">now $FREE.99</a></span>
                </div>
            </div>
        </div>
    </section>
</body>
