
@{
    ViewBag.Title = "Shop";
}


@* TODO Remove all ion-ios-menu/heart from below, when adding cart functionality make the cart an "add to cart" option *@

<div class="hero-wrap hero-bread" style="background-color: rgb(237,132,50);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home</a></span></p>
                <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a href="@Url.Action("Shop", "Home")" class="active">All</a></li>
                    @*<li><a href="#">Controllers</a></li>
                    <li><a href="#">Arcade Sticks</a></li>
                    <li><a href="#">Adapters</a></li>
                    <li><a href="#">Accessories/Memory Cards</a></li>*@ 
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate " new {CategoryID = 1}>
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 1 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/DC_Controller.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 1 })">Dreamcast Controller</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$29.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 12 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/FishingController.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 12 })">Fishing Controller</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$25.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 24 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/StarFire_LightBlaster.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 24 })">StarFire LightBlaster</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$29.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 2 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/VMU.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 2 })">Visual Memory Unit</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$19.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 27 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/RumblePack.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 27 })">Jump Pack</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$0.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 9 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/DCTwinStick.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 9 })">Twin Stick</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$100</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 11 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/Wingman.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 11 })">Wingman Converter</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$22.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 14 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/V3FX-SW2.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 14 })">V3FX Racing Wheel</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$50.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 3 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/Tornado.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 3 })">Tornado</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$50.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 8 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/Dreameye.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 8 })">Dreameye</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$1,200.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 17 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/AstroPad_Black.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 17 })">AstroPad</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$19.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 18 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/FightingStick.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 18 })">Fighting Stick</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$45.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 7 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/Alloy.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 7 })">Alloy</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$75.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 25 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/REALArcadeStick.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 25 })">REAL Arcade Stick</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$39.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 16 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/SuperConverter.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 16 })">PS3/PS4 - Dreamcast Super Converter</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$19.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 10 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/Panther.png" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 10 })">Panthar DC</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$39.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 22 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/Internet_Starter_Kit.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 22 })">Internet Starter Kit</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$FREE.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 21 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/DC_ArcadeStick.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 21 })">Dreamcast Arcade Stick</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$59.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 15 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/TotalControlPlus.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 15 })">Total Control Plus</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$19.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="@Url.Action("Details", "Products", new { id = 13 })" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/Rumble.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="@Url.Action("Details", "Products", new { id = 13 })">Rumble Fighting Stick</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$15.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>*@
    </div>
</section>